@using MovieShop.Features.Home
@using MovieShop.Models.ViewModels
@using MovieShop.Domain.Commerce.Nodes
@using MovieShop.Features.Category
@using MovieShop.Foundation.Helpers
@model  CatalogViewModel<GenreNode, HomePage, CategoryViewModel>

<div class="category">

    <div class="category-filter">
        <ul>
            <li>filter 1</li>
            <li>filter 2</li>
            <li>filter 3</li>
            <li>filter 4</li>
            <li>filter 5</li>
        </ul>
    </div>

    <div class="category-result">
        @foreach (var result in Model.CurrentData.SearchHits)
        {
            <div class="category-result-item">
                <div class="search-result-left">
                    <img src="@Url.ContentUrl(result.Poster)" />
                </div>
                <div class="search-result-right">
                    <h3>@result.Title</h3>
                    <p>@result.Overview<a href="@Url.ContentUrl(result.ContentLink)"> Learn More</a></p>
                </div>
            </div>
        }
    </div>
</div>