@using MovieShop.Features.Home
@using MovieShop.Models.ViewModels
@model PageViewModel<HomePage>
   
    <div class="row mb-5">
        <div class="col-lg-8 mx-auto">
            <h5 class="font-weight-light mb-4 font-italic text-white">Custom rounded search bars with input group</h5>
            <div class="bg-white p-5 rounded shadow">

                <!-- Custom rounded search bars with input group -->
                <form action="">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                            <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
                            </div>
                            <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon2" class="form-control border-0 bg-light">
                        </div>
                    </div>
                    <div class="input-group mb-4 border rounded-pill p-1">
                        <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon3" class="form-control bg-none border-0">
                        <div class="input-group-append border-0">
                            <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="input-group mb-4 border rounded-pill p-1">
                        <div class="input-group-prepend border-0">
                            <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
                        </div>
                        <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon4" class="form-control bg-none border-0">
                    </div>
                </form>
                <!-- End -->

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#contains">Contains</a></li>
                            <li><a href="#its_equal">It's equal</a></li>
                            <li><a href="#greather_than">Greather than ></a></li>
                            <li><a href="#less_than">Less than < </a></li>
                            <li class="divider"></li>
                            <li><a href="#all">Anything</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="Search term...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

@Html.PropertyFor(x => x.CurrentPage.Content)