.category {
    display: flex;

    .category-filter {
        width: 20%;
    }

    .category-result {
        width: 80%;

        .category-result-item {
            display: flex;

            .category-result-left {
                width: 20%;
                padding: 10px;
                padding-left: 20px;
            }

            .category-result-right {
                width: 80%;
                padding: 10px;
                padding-right: 20px;
            }
        }
    }
}
