$backgound-color: #3a343d;
$top-navigation-padding: 20px;

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height:50px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;

    a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    a:hover {
        background-color: #ddd;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

.primary-navigation {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;

    .nav-right {
        float: right;
        display: flex;

        div {
            padding: $top-navigation-padding;
        }
    }

    .nav-left {
        float: left;
        display: flex;

        div {
            padding: $top-navigation-padding;

            div {
                a {
                    text-decoration: none;
                    color: white;

                    div {
                        padding: 0px;
                    }
                }
            }
        }
    }

    .nav-center {
        display: inline-block;
        margin: 0 auto;

        div {
            padding: 5px;

            div {
                height: 40px;
            }
        }
    }
}

.secondary-navigation {
    height: 37px;

    a {
        float: left;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 17px;
        text-align: center;
    }

    a:hover {
        background-color: #000;
    }

    a.active {
        background-color: #4CAF50;
    }
}

nav {
    width: 100%;
    background-color: $backgound-color;
    /*    overflow: auto;*/
    height: 99px;
}

.cart-counter-container {
    color: white;
    text-decoration: none;
    position: relative;

    div {
        float: left;
        color: black;
        position: absolute;
        top: -33px;
        left: -7px;
    }
}