.search-result {
}

.search-result-item {    
    display: flex;

    .search-result-left {
        width: 20%;
        padding: 10px;
        padding-left:20px;
    }

    .search-result-right {
        width: 80%;
        padding: 10px;
        padding-right: 20px;
    }
}