.shooping-cart {
    width: 100%;

    .shooping-cart-item {
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        color: black;
        padding-bottom: 10px;
        border-bottom: 1px solid black;

        .cart-item-left {
            float: right;
            display: flex;
            padding: 10px;
            width: 20%;
        }

        .cart-item-righ {
            float: left;
            display: flex;
            padding: 10px;
            width: 10%;
        }

        .cart-item-center {
            display: inline-block;
            text-align: left;
            padding: 10px;
            width: 70%;
        }
    }
}