@using MovieShop.Features.Search
@using MovieShop.Models.ViewModels
@model PageViewModel<SearchPage>

<div class=" row">
    <div id="searchform" class="center">
        <autocompleate></autocompleate>        
    </div>
</div>