@using MovieShop.Features.Search
@using MovieShop.Models.ViewModels
@using MovieShop.Foundation.Search
@using MovieShop.Foundation.Helpers
@model PageViewModel<SearchPage, SearchResultData>

@foreach (var result in Model.CurrentData.SearcheResults)
{
    <div class="row">
        <div class="col-3">
            <img src="@Html.MovieDbImage(result.PosterPath,300)" />
        </div>
        <div class="col-9">
            <div class="hero-slider-slide-content">
                <h3>@result.Title</h3>
                <p>@result.Summery<a href="@Url.ContentUrl(result.ContentLink)"> Learn More</a></p>
                <div>
                    <button class="hollow button" type="button"><img src="https://placehold.it/20x20" /> Watch Video</button>
                </div>
            </div>
        </div>
    </div>
}